<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <button type="button" class="btn btn-primary" onclick="window.location.href='/'">Go back</button>
    <form action="/add" method="post" th:object="${book}">
        <div class="row">
            <div class="col-md-8 p-4 m-4">
                <h2>Add Book</h2>
                <input type="text" th:field="*{title}" name="title" placeholder="Введите название" required>
                <input type="text" th:field="*{author}" name="author" placeholder="Введите автора книги" required>
                <select name="genre" th:field="*{genre}" class="form-control" required>
                    <option value="" disabled selected>Выберите жанр</option>
                    <option value="fiction">Художественная литература</option>
                    <option value="novel">Роман</option>
                    <option value="non-fiction">Документальная литература</option>
                    <option value="fantasy">Фэнтези</option>
                    <option value="science">Научная литература</option>
                    <option value="horror">Ужасы</option>
                    <option value="detective">Детектив</option>
                    <option value="dystopian">Утопия</option>
                </select>
                <button type="submit" class="btn btn-success mt-3">Add Book</button>
            </div>
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>